<h1 class="title">
  Sobre mim
</h1>
<div class="content">
  <p>Programador apaixonado pelo que faz!</p>
  <p>
    Comecei a me aventurar com programação com mais ou menos 10~11 anos de idade. Começando com uma apostila de HTML, estudando
    em casa e aplicando nas,
    <i>extintas</i>, 'lan houses' quando sobrava alguma grana da merenda (é... nem sempre foi fácil, rs).
  </p>
  <div *ngIf="moreAboutMe">
    <p>
      Aos 12 ganhei meu primeiro computador e dai pra frente foi um salto enorme pois tinha acesso à Internet (discada, mas era
      internet). Em algum fórum fui apresentado às linguagens desktop VB6 e Delphi, pela facilidade do Pascal e
      com uma sintaxe muito mais intuitiva mergulhei de cabeça nos estudos de Delphi, no futuro seria importante...
    </p>
    <p>
      Pouco tempo depois, passando em alguma livraria, na seção de informática estava em promoção um livro chamado "Asp.net 2.0
      with Ajax" e aí começou minha paixão por Web, devorei livros e mais livros sobre Asp.net, PHP, ASP, Javascript
      (vanilla), fóruns, documentações...
    </p>
    <p>
      E nunca mais parei, fui estudar Banco de Dados, Infraestrutura, DevOps, metodologias ágeis, bibliotecas e frameworks... Até
      hoje minha vida é um eterno café -> código...
    </p>
  </div>
  <div class="has-text-centered" [attr.data-content]="showMoreAboutMeText" (click)="toggleMoreAboutMe()">
    <a class="button is-link is-rounded">{{moreAboutMe ? '-' : '+'}}</a>
  </div>
</div>