<h1 class="title">Últimos Projetos</h1>

<div class="columns">
  <div class="column is-4">
    <figure class="image is-256x256">
      <img src="/assets/fleury-grade.png">
    </figure>
  </div>
  <div class="column">
    <p class="is-size-4 has-text-grey has-text-weight-bold">Fleury Check-up</p>
    <p class="is-size-6">Front e Backoffice para gerenciamento de todo o processo de
      <a href="http://www.fleury.com.br/exames-e-servicos/prevencao/check-up/Pages/default.aspx"
        target="_blank">Check-up</a>,
      isso inclui:
    </p>
    <div class="content">
      <ul>
        <li>
          Questionário de Saúde, tornando mais rápida a consulta
        </li>
        <li>
          Agendamento ou Importação de sistemas legados
        </li>
        <li>
          Grade de Gerenciamento das etapas de cada paciente por Unidade.
          <ul>
            <li>
              Encaminha paciente à cada etapa via SMS
            </li>
            <li>
              Informa no-show
            </li>
            <li>
              Altera o agendamento diretamente pela interface podendo incluir/remover etapas
            </li>
          </ul>
        </li>
        <li>Tela de acompanhamento para os Médicos, podendo incluir comentários em cada etapa do questionario preenchido
          pelo paciente</li>
        <li>Entre outras funcionalidades que tornam o Atendimento mais rápido e personalizado</li>
      </ul>
    </div>
  </div>
</div>

<div class="columns">
  <div class="column is-4">
    <figure class="image is-256x256">
      <img src="/assets/flytour-cockpit.png">
    </figure>
  </div>
  <div class="column">
    <p class="is-size-4 has-text-grey has-text-weight-bold">Cockpit</p>
    <p class="is-size-6">Middleware do grupo
      <a href="//www.flytourmmt.com.br/" target="_blank">Flytour Viagens</a>, integra todos os Microservices da
      companhia em uma interface única., provê SSO a todas as aplicações
      e integração com os diversos Backoffices das empresas do grupo, inclusive Microsoft 365.</p>
  </div>
</div>

<div class="columns">
  <div class="column is-4">
    <figure class="image is-256x256">
      <img src="/assets/uux-tudus.png">
    </figure>
  </div>
  <div class="column">
    <p class="is-size-4 has-text-grey has-text-weight-bold">Tudus</p>
    <p class="is-size-6">
      <a href="//tudus.com.br" target="_blank">Tudus</a> é um CMS para venda de ingressos para todos os tipos de
      eventos, integração com sistemas anti-fraude, gateways
      de pagamento e robô para sorteio de assentos em caso de eventos com extrema concorrência de ingressos, como por
      exemplo
      Copa do Mundo e Rock in Rio.</p>
  </div>
</div>

<div class="columns">
  <div class="column is-4">
    <figure class="image is-256x256">
      <img src="/assets/uux-vivoplay.png">
    </figure>
  </div>
  <div class="column">
    <p class="is-size-4 has-text-grey has-text-weight-bold">Vivo Play</p>
    <p class="is-size-6">
      O <a href="//vivoplay.com.br" target="_blank">Vivo Play</a> é uma plataforma de stream de videos da Vivo,
      fornecendo milhares opções de titulos para assistir quando quiser.</p>
  </div>
</div>

<div class="columns">
  <div class="column is-4">
    <figure class="image is-256x256">
      <img src="/assets/uux-sundaytv.png">
    </figure>
  </div>
  <div class="column">
    <p class="is-size-4 has-text-grey has-text-weight-bold">SundayTV</p>
    <p class="is-size-6">Plataforma de stream de videos do
      <a href="//terra.com.br" target="_blank">Terra</a>, fornecendo as opções de Aluguel e Venda de titulos e
      Assinatura Mensal com acesso ao catalogo de filmes,
      sem lançamentos.</p>
  </div>
</div>

<div class="columns">
  <div class="column is-4">
    <figure class="image is-256x256">
      <img src="/assets/uux-globosat-muu.png">
    </figure>
  </div>
  <div class="column">
    <p class="is-size-4 has-text-grey has-text-weight-bold">Muu</p>
    <p class="is-size-6">Plataforma de stream de videos, exclusiva para Xbox360, da
      <a href="//globosatplay.globo.com/globosat" target="_blank">Globosat</a>, fornecendo os conteúdos das empresas
      grupo (Rede Globo, GNT, Multishow, etc) OnDemand.</p>
  </div>
</div>