<section class="hero is-light"
         style="border-top: 10px solid #778492;">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Leandro Barral
      </h1>
      <h2 class="subtitle">
        Fullstack Developer
      </h2>
    </div>
  </div>
</section>

<section class="section">
  <div class="container is-fluid">
    <div class="columns">
      <div class="column is-two-thirds">

        <div class="box">
          <app-about-me></app-about-me>
        </div>

        <div class="box">
          <app-project-highlights></app-project-highlights>
        </div>

        <div class="box">
          <app-work-experience></app-work-experience>
        </div>

      </div>

      <div class="column">

        <div class="box">
          <div>
            <span class="icon has-text-grey">
              <i class="fas fa-map-marker"></i>
            </span>
            <span class="has-text-dark">São Paulo, SP</span>
          </div>

          <div>
            <a href="mailto:barral@ikecode.com.br?Subject=Contato"
               target="_blank"
               class="has-text-info">
              <span class="icon has-text-grey">
                <i class="fas fa-envelope"></i>
              </span>
              <span>barral@ikecode.com.br</span>
            </a>
          </div>

          <div>
            <a href="https://www.linkedin.com/in/leandrobarral"
               target="_blank"
               class="has-text-info">
              <span class="icon has-text-grey">
                <i class="fab fa-linkedin"></i>
              </span>
              <span>linkedin.com/in/leandrobarral</span>
            </a>
          </div>

          <div>
            <a href="/assets/cv.pdf"
               target="_blank"
               class="has-text-info">
              <span class="icon has-text-grey">
                <i class="fas fa-eye"></i>
              </span>
            </a>
            <a href="/assets/cv.pdf"
               target="_self"
               download="Curriculo-LeandroBarral.pdf"
               class="has-text-info">
              <span class="icon has-text-grey">
                <i class="fas fa-download"></i>
              </span>
              <span>Baixar Curriculo (PDF)</span>
            </a>
          </div>
        </div>

        <div class="box">
          <h1 class="title">
            Skills
          </h1>
          <div>
            <span class="has-text-weight-semibold">.net (Framework/Core)</span>
            <div>
              <progress class="progress is-small is-success"
                        value="98"
                        max="100"></progress>
            </div>
          </div>

          <div>
            <span class="has-text-weight-semibold">Angular 2+</span>
            <div>
              <progress class="progress is-small is-success"
                        value="90"
                        max="100"></progress>
            </div>
          </div>

          <div>
            <span class="has-text-weight-semibold">React</span>
            <div>
              <progress class="progress is-small is-success"
                        value="54"
                        max="100"></progress>
            </div>
          </div>

          <div>
            <span class="has-text-weight-semibold">React Native</span>
            <div>
              <progress class="progress is-small is-success"
                        value="35"
                        max="100"></progress>
            </div>
          </div>

          <div>
            <span class="has-text-weight-semibold">Android (Kotlin)</span>
            <div>
              <progress class="progress is-small is-success"
                        value="72"
                        max="100"></progress>
            </div>
          </div>

          <div>
            <span class="has-text-weight-semibold">Docker</span>
            <div>
              <progress class="progress is-small is-success"
                        value="81"
                        max="100"></progress>
            </div>
          </div>

          <div>
            <span class="has-text-weight-semibold">SQL</span>
            <div>
              <progress class="progress is-small is-success"
                        value="91"
                        max="100"></progress>
            </div>
          </div>

          <div>
            <span class="has-text-weight-semibold">MongoDB</span>
            <div>
              <progress class="progress is-small is-success"
                        value="71"
                        max="100"></progress>
            </div>
          </div>

          <div>
            <span class="has-text-weight-semibold">Ionic 2+</span>
            <div>
              <progress class="progress is-small is-success"
                        value="76"
                        max="100"></progress>
            </div>
          </div>

          <div>
            <span class="has-text-weight-semibold">Node.js</span>
            <div>
              <progress class="progress is-small is-success"
                        value="82"
                        max="100"></progress>
            </div>
          </div>

          <div>
            <span class="has-text-weight-semibold">Javascript (vanilla)</span>
            <div>
              <progress class="progress is-small is-success"
                        value="87"
                        max="100"></progress>
            </div>
          </div>

          <div>
            <span class="has-text-weight-semibold">ECMA 5/6/7</span>
            <div>
              <progress class="progress is-small is-success"
                        value="79"
                        max="100"></progress>
            </div>
          </div>

          <div>
            <span class="has-text-weight-semibold">outros...</span>
            <div class="tags">
              <span class="tag is-warning">Elasticsearch</span>
              <span class="tag is-warning">CI/CD</span>
              <span class="tag is-warning">NGINX</span>
              <span class="tag is-warning">Treafik</span>
              <span class="tag is-link">C#</span>
              <span class="tag is-link">REST/SOA</span>
              <span class="tag is-link">DDD</span>
              <span class="tag is-link">TDD</span>
              <span class="tag is-link">WPF</span>
              <span class="tag is-info">MySQL</span>
              <span class="tag is-info">Azure CosmosDB</span>
              <span class="tag is-info">PostgreSQL</span>
              <span class="tag is-primary">Silverlight</span>
              <span class="tag is-primary">Git</span>
              <span class="tag is-primary">AWS</span>
              <span class="tag is-primary">Azure</span>
            </div>
          </div>
        </div>

      </div>

    </div>

    <router-outlet></router-outlet>
  </div>
</section>
