<h1 class="title">
  Experiência Profissional
</h1>
<div class="content">
  <p>
    <span class="has-text-grey has-text-weight-bold">Desenvolvedor Fullstack Sr</span> -
    <span class="has-text-grey-light">Grupo Fleury (08/2018 - Atual)</span>
  </p>
  <div class="is-size-7">
    <ul>
      <li>Desenvolvimento de aplicativos nativos para Android com Kotlin (MVVM + DI)</li>
      <li>Desenvolvimento de aplicações voltados ao cliente final das marcas Fleury, utilizando .net core 2 para criação
        dos Microserviços e Angular2+ para os Frontends</li>
      <li>Utilização do OpenShift (Docker + Kubernetes) para auto-escalonamento e Gitlab + Jenkins para CI/CD</li>
      <li>Utilização de MongoDB e RabbitMQ para comunicação entre Microserviços</li>
    </ul>
  </div>
</div>

<div class="content">
  <p>
    <span class="has-text-grey has-text-weight-bold">Analista Desenvolvedor Fullstack Sr</span> -
    <span class="has-text-grey-light">Flytour (08/2017 - 08/2018)</span>
  </p>
  <div class="is-size-7">
    <ul>
      <li>Desenvolvimento de aplicações voltados ao ramo do turismo, utilizando .net core para criação dos Microserviços
        e Angular2+ com Redux para os desenvolvimentos dos Frontends</li>
      <li>Utilização dos Bancos de Dados: SQL Server e MongoDb</li>
      <li>Treinamento da equipe em novas tecnologias</li>
    </ul>
  </div>
</div>

<div class="content">
  <p>
    <span class="has-text-grey has-text-weight-bold">Analista Desenvolvedor .net Sr</span> -
    <span class="has-text-grey-light">Amil (03/2017 - 08/2017)</span>
  </p>
  <div class="is-size-7">
    <ul>
      <li>Desenvolvimento de aplicações voltados a áreas da saúde utilizando .net 4.5 para criação dos Frontends e API’s
        e Oracle
        para armazenamento dos Dados</li>
      <li>Levantamento de requisitos e especificações funcionais e técnicas</li>
    </ul>
  </div>
</div>

<div class="content">
  <p>
    <span class="has-text-grey has-text-weight-bold">Analista Desenvolvedor .net Sr</span> -
    <span class="has-text-grey-light">HeyDone! (06/2016 - 03/2017)</span>
  </p>
  <div class="is-size-7">
    <ul>
      <li>Responsável pela comunicação, priorização de tarefas e treinamentos com os clientes</li>
      <li>Arquitetura de Frontend dinâmico com Asp.net e Angular 2+</li>
      <li>Aplicativos WEB e APIs REST em .net Core (C#)</li>
      <li>Aplicativos WEB com Angular 2+</li>
      <li>Aplicativos nativos para Android</li>
    </ul>
  </div>
</div>

<div class="content">
  <p>
    <span class="has-text-grey has-text-weight-bold">Analista Desenvolvedor .net Sr</span> -
    <span class="has-text-grey-light">UUX – Ultimate User eXperience (04/2011 - 06/2016)</span>
  </p>
  <div class="is-size-7">
    <ul>
      <li>Criação e manutenção dos frontend, backend e player do portal Sunday TV (Terra) e Movistar/Vivo Play</li>
      <li>Desenvolvimento de sistema de venda de tickets para IMX, web services REST e WCF</li>
      <li>Manutenção do CMS de publicação dos sites, todos feitos em .net 4, utilizando ASP.net/Razor, C# e Silverlight
        (player
        e sistema de bilheteria)</li>
      <li>Software nativo para Xbox360 (Globosat Muu)
      </li>
    </ul>
  </div>
</div>


<div class="content">
  <p>
    <span class="has-text-grey has-text-weight-bold">Analista Desenvolvedor .net Pl</span> -
    <span class="has-text-grey-light">Scopus (12/2010 - 04/2011)</span>
  </p>
  <div class="is-size-7">
    <ul>
      <li>Desenvolvimento de sistema, backend e frontend, para Consulta de Exames para o Hospital Albert Einstein</li>
      <li>Análise e desenvolvimento de sistema para controle de entrega de pacotes aos clientes, usando .net 4,
        Asp.net/C#, WCF
        e banco de dados SQL Server e Oracle</li>
    </ul>
  </div>
</div>


<div class="content">
  <p>
    <span class="has-text-grey has-text-weight-bold">Analista Desenvolvedor .net Jr</span> -
    <span class="has-text-grey-light">BrSeg (08/2009 - 12/2010)</span>
  </p>
  <div class="is-size-7">
    <ul>
      <li>Criação de ERPs para companhias de seguro e capitalização. Desenvolvidos em ASP.net/C#, Asp/VB6 e SQL Server
        2005.</li>
      <li>Experiência com CI (Continuous Integration com Team Foundation Server) e Instaladores com WiX.</li>
    </ul>
  </div>
</div>
