@import "~bulma/sass/utilities/_all";
@import "~bulma/sass/base/_all";
@import "~bulma/sass/elements/_all";
@import "~bulma/sass/components/_all";
@import "~bulma/sass/grid/_all";
@import "~bulma/sass/layout/_all";

$fa-font-path: '~font-awesome/fonts';
@import '~font-awesome/scss/font-awesome';

html,
body {
  background-color: $grey-lighter;
}

.progress-bar {
  width: 100%;
  background-color: $grey-lighter;
  border-radius: 2px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, .2);
  margin-bottom: 10px;
}

.progress-bar-fill {
  display: block;
  height: 13px;
  background-color: $success;
  border-radius: 3px;
  transition: width 500ms ease-in-out;
}
